__CRIO__/metadata.json merge=copy-merge
frontend/tests/module/landing_page.test.js merge=copy-merge
frontend/tests/module/adventures_page.test.js merge=copy-merge
frontend/tests/module/adventure_details_page.test.js merge=copy-merge
frontend/tests/module/reservation_page.test.js merge=copy-merge
